# Birthday Problem

In a group of *n* people, what is the probability that at least two will have the same birthday? Below is a graph showing group sizes up to 90 and the corresponding probability that at least two people in the group will have the same birthday.

Let B = the probability that at least two people of the same birthday. Then:

$$P(B) = 1 - \frac{365}{365} * \frac{364}{365} * \frac{363}{365} * \ldots \frac{365 - (n-1)}{365}$$

In the above formula we calculate the probability that no one has the same birthday and subtract this from 1. This approach make the calculation easier.

In [84]:
import pandas as pd
import numpy as np
import math

In [158]:
def probBirthday(n):
    p = 1
    for x in range(365 - (n-1),366):
        p = p * x
    p = p / 365**n
    return p

In [160]:
probBirthday(10)

0.8830518222889223

In [175]:
df = pd.DataFrame({'groupSize' : pd.Series(range(3,11)),
                   'probability' : pd.Series([0] * 8)})

for i in df.index:
    df.loc[[i],'probability'] = probBirthday(df.loc[[i],'groupSize'])
#df['probability'] = df['groupSize'].apply(probBirthday)
#for g in df['groupSize']:
#    print(g)
df

TypeError: 'Series' object cannot be interpreted as an integer

In [88]:
def double(x):
    return x * 2

In [89]:
n = 23
p = 1
for x in range(365 - (n-1),366):
    p = p * x
    
print(1 - p/365**n)

0.5072972343239854

In [90]:
probBirthday(23)

0.5072972343239854

In [91]:
dfX = pd.DataFrame({'A' : pd.Series(range(1,6)),
                    'B' : pd.Series([0] * 5)})
dfX['C'] = pd.Series([1] * 5)
dfX['D'] = dfX['A'].apply(double)
dfX
#dfX2 = dfX['A'].apply(double)
#dfX2

   A  B  C   D
0  1  0  1   2
1  2  0  1   4
2  3  0  1   6
3  4  0  1   8
4  5  0  1  10